<div class="fundo d-flex flex-wrap">
  <div class="geral">
    <div class="card-body text-center">
      <div class="detalhes">
        <strong>Conte-nos detalhes sobre o perfil que precisa.</strong>
      </div>

      <div class="confianca">
        Obrigado pela confiança!
      </div>

      <p class="texto">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget
        ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa.
        Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Nulla at risus. Quisque purus magna, auctor et,
        sagittis ac, posuere eu, lectus. Nam mattis, felis ut adipiscing."
      </p>

      <div class="borda"></div>

      <div class="botoes">
        <button type="button" class="btn" id="cancelar" [routerLink]="['/busca']">
          <strong> X CANCELAR</strong>
        </button>
        <button
          type="button"
          class="btn"
          id="solicitar"
          [routerLink]="['/busca']"
        >
          <strong>SOLICITAR NOVOS PERFIS</strong>
        </button>
      </div>
    </div>
  </div>
</div>
