<div class="jumbotron">
  <div class="row">
    <div class="col-sm-12 d-flex align-items-end flex-column">
      <img src="../../assets/everislogo.png" class="logo" />
      <div class="row">
        <div
          class="col-sm-12 d-flex align-items-start flex-column main-text pl-0"
        >
          <h2><b>POR FAVOR, ACESSE SEU EMAIL</b></h2>
          <br />
          <p>
            Por sua segurança expiramos seu acesso periodicamente. <br />
            Acesse o link de confirmação em seu email para <br />
            efetuar o login.
          </p>

          <button type="button" class="btn">LOGIN</button>
        </div>
      </div>
    </div>
  </div>
</div>
