<div class="d-flex justify-content-between backgroundColor">
  <div class="flex-fill pt-1 text-left">
    <div class="dropdown" id="alinhamento-menu">
      <a href="#" id="imageDropdown" data-toggle="dropdown">
        <img src="../../assets/perfil-icon-4.png" class="profile-icon ml-5" />
      </a>
      <div
        class="dropdown-menu"
        id="menu-esquerdo"
        aria-labelledby="dropdownMenuLink"
      >
        <a class="dropdown-item" [routerLink]="['/edit-profile']">
          Editar Perfil
        </a>
        <a class="dropdown-item" [routerLink]="['/help']">Ajuda</a>
        <img src="../../../assets/Idioma.PNG" class="idioma" />
        <button type="button" class="btn">LOGOUT</button>
      </div>
    </div>
  </div>
  <div class="flex-fill text-light text-center p-2">
    <a [routerLink]="['/busca']"> Buscar Skill</a>
  </div>
  <div class="p-2 flex-fill active text-light text-center">
    <a> Acompanhar Processos </a>
  </div>
  <div class="flex-fill pt-1 text-right">
    <div class="dropdown">
      <a href="#" id="imageDropdown" data-toggle="dropdown">
        <img src="../../assets/images.png" class="bell-icon" />
      </a>
      <ul
        class="dropdown-menu"
        id="notificacao"
        role="menu"
        aria-labelledby="imageDropdown"
      >
        <div class="notificacoes ml-5">
          <h2>Notificações</h2>
        </div>
        <div class="ml-5">
          <h6>Você tem 4 notificações não lidas</h6>
        </div>
        <div class="retangulo-notificacoes ml-4">
          <div class="essa-semana ml-3 pt-3">
            <p>ESSA SEMANA</p>
          </div>
          <div class="d-flex justify-content-start">
            <div class="row flex-wrap ml-3">
              <div class="flex-wrap">
                <div class="bola-verde"></div>
                <div class="traco-vertical ml-3"></div>
              </div>
            </div>

            <div>
              <p class="texto-verde-vertical ml-4 mb-0">Há 3 horas</p>
              <p class="texto-titulo-vertical ml-4 mb-0">Front End</p>
              <p class="texto-subtitulo-vertical ml-4 mb-0">
                Novos perfis para aprovar!
              </p>
              <p class="texto-descricao-vertical ml-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod exa tempor incididunt ut labore et dolore magna aliqua
              </p>
            </div>
          </div>

          <div class="retangulo-notificacoes">
            <div class="essa-semana ml-3 pt-3">
              <p>ESSA SEMANA</p>
            </div>
            <div class="d-flex justify-content-start">
              <div class="row flex-wrap ml-3">
                <div class="flex-wrap">
                  <div class="bola-verde"></div>
                  <div class="traco-vertical ml-3"></div>
                </div>
              </div>
              <div>
                <p class="texto-verde-vertical ml-4 mb-0">Há 3 horas</p>
                <p class="texto-titulo-vertical ml-4 mb-0">Front End</p>
                <p class="texto-subtitulo-vertical ml-4 mb-0">
                  Novos perfis para aprovar!
                </p>
                <p class="texto-descricao-vertical ml-4">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod exa tempor incididunt ut labore et dolore magna
                  aliqua
                </p>
              </div>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
<div class="container pt-4">
  <div class="row">
    <div class="col-sm d-flex justify-content-between">
      <h4 class="BUSCAR-PROFISSIONAIS"><b> ACOMPANHAR PROCESSOS</b></h4>
      <img src="../../assets/everislogo.png" class="logo" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="input-group">
        <input
          type="search"
          class="form-control shadow-sm"
          placeholder="Busque pelo nome de sua solicitação ou do profissional"
        />
      </div>
    </div>
    <div class="col-sm-12">
      <input
        type="search"
        class="busca shadow-sm"
        placeholder="Busque pelo período ou dia da solicitação"
      />
    </div>
    <div class="col-sm-12">
      <div class="processo">
        <img src="../../../assets/contato.PNG" class="contato" />
        <img src="../../../assets/entrevista.PNG" class="contato ml-0" />
        <img src="../../../assets/selecionado.PNG" class="contato ml-0" />
      </div>
    </div>
    <div class="col-sm-12 mt-0">
      <div class="card">
        <div class="card-body">
          <div class="col-sm-12">
            <img
              src="../../../assets/frontend.PNG"
              class="tecnologia float-left"
            />
            <p class="titulo-selecao">Seleção BKE001</p>
            <p class="titulo-contato">Em contato com 1 perfil</p>
            <p class="titulo-data">01-03-2020</p>
          </div>
        </div>
        <div class="retangulo-card">
          <img
            src="../../../assets/fotoperfil.PNG"
            class="foto-perfil float-left"
          />
          <div class="textos-perfil">
            <p class="nome">Karina M. Monteiro</p>
          </div>
          <div>
            <p class="descricao">Designer e UX</p>
            <p class="sub-descricao">
              MT / Vila Bela da Santíssima Trindade Sul…
            </p>
          </div>
          <div class="col-sm-12 d-flex justify-content-between">
            <div class="retangulo-tecnologias">
              <p class="skill-candidato">HTML</p>
            </div>
            <div class="retangulo-tecnologias">
              <p class="skill-candidato">CSS</p>
            </div>
            <div class="retangulo-tecnologias">
              <p class="skill-candidato">UX</p>
            </div>
            <div class="retangulo-tecnologias">
              <p class="skill-candidato">Angular</p>
            </div>
            <div class="retangulo-tecnologias">
              <p class="skill-candidato">Git</p>
            </div>
          </div>
          <div class="col-sm-12 d-flex justify-content-start">
            <div class="retangulo-tecnologias mt-3">
              <p class="skill-candidato">Javascript</p>
            </div>
            <div class="retangulo-tecnologias mt-3">
              <p class="skill-candidato">Jquery</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="processo">
        <img src="../../../assets/contato.PNG" class="contato" />
        <img src="../../../assets/entrevista.PNG" class="contato ml-0" />
        <img src="../../../assets/selecionado.PNG" class="contato ml-0" />
      </div>
    </div>
    <div class="col-sm-12 mt-0">
      <div class="card">
        <div class="card-body">
          <div class="col-sm-12">
            <img
              src="../../../assets/backend.PNG"
              class="tecnologia float-left"
            />
            <p class="titulo-selecao">Seleção BKE001</p>
            <p class="titulo-contato">Em contato com 1 perfil</p>
            <p class="titulo-data">01-03-2020</p>
          </div>
        </div>
        <div class="retangulo-card">
          <img
            src="../../../assets/fotoperfil.PNG"
            class="foto-perfil float-left"
          />
          <div class="textos-perfil">
            <p class="nome">Karina M. Monteiro</p>
          </div>
          <div>
            <p class="descricao">Designer e UX</p>
            <p class="sub-descricao">
              MT / Vila Bela da Santíssima Trindade Sul…
            </p>
          </div>
          <div class="col-sm-12 d-flex justify-content-between">
            <div class="retangulo-tecnologias">
              <p class="skill-candidato">HTML</p>
            </div>
            <div class="retangulo-tecnologias">
              <p class="skill-candidato">CSS</p>
            </div>
            <div class="retangulo-tecnologias">
              <p class="skill-candidato">UX</p>
            </div>
            <div class="retangulo-tecnologias">
              <p class="skill-candidato">Angular</p>
            </div>
            <div class="retangulo-tecnologias">
              <p class="skill-candidato">Git</p>
            </div>
          </div>
          <div class="col-sm-12 d-flex justify-content-start">
            <div class="retangulo-tecnologias mt-3">
              <p class="skill-candidato">Javascript</p>
            </div>
            <div class="retangulo-tecnologias mt-3">
              <p class="skill-candidato">Jquery</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
