<div class="fundo d-flex flex-wrap">
  <div class="geral">
    <div class="card-body text-center">
      <div class="Retngulo-2947">
        <div class="check">
          ?
        </div>
      </div>

      <div class="solicitar">
        Deseja solicitar entrevista com <br />
        os 2 perfis selecionados?
      </div>

      <div class="botoes">
        <button type="button" class="btn" id="cancelar" [routerLink]="['/profile-select']">
          <strong> X FECHAR</strong>
        </button>
        <button type="button" class="btn" id="solicitar" [routerLink]="['/conclusao']">
          <strong>CONFIRMAR</strong>
        </button>
      </div>
    </div>
  </div>
</div>
