<img src="../../assets/fundo.png" class="fundo float-left" />
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <img src="../../assets/everislogo.png" class="logo float-right" />
    </div>
    <div class="col-sm-12 teste">
      <h2 class="bemvindo"><b>Bem vindo ao Staff Digital</b></h2>
      <h5>Entre com seu email empresarial:</h5>
    </div>
    <div class="col-sm-12">
      <p class="email">Email:</p>
      <form>
        <input type="email" class="form-control" placeholder="chenriqz@" />
      </form>
    </div>
    <div class="col-sm-12">
      <img src="../../assets/Avancar.PNG" class="teste float-right pt-4" />
    </div>
  </div>
</div>
