<div class="fundo d-flex flex-wrap">
  <div class="geral">
    <div class="card-body text-center">
      <div class="Retngulo-2947">
        <div class="check">
          ✓
        </div>
      </div>

      <p>
        Parabens!<br />
        Em breve entraremos em contato
      </p>

      <div class="botao1">
        <button type="button" class="btn" [routerLink]="['/confianca']">
          NOVA BUSCA
        </button>
      </div>
      <div class="botao2">
        <button type="button" class="btn" [routerLink]="['/process']">ACOMPANHAR PROCESSOS</button>
      </div>
    </div>
  </div>
</div>
