<div class="container pt-5">
  <div class="row">
    <div class="col-sm-12 mt-1">
      <div class="d-flex justify-content-between">
        <h4><b> BUSCAR PROFISSIONAIS</b></h4>
        <h4><b> logo</b></h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="input-group">
        <input
          type="search"
          class="form-control shadow-sm"
          placeholder="Não sabe a categoria do profissional? Procure aqui por skills"
        />
      </div>
    </div>
  </div>
  
   <!-- Primeira sessão de cards -->
  <div class="d-flex justify-content-between">
    <div class="row cards">
      <div class="col-sm">
        <div class="card">
          <div class="card-body rounded-sm shadow-sm text-center">
            <h6>imagem</h6>
            <h4>Front End</h4>
            <p><small>256 profissionais</small></p>
            <h6>imagem</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row cards">
      <div class="col-sm">
        <div class="card">
          <div class="card-body shadow-sm text-center">
            <h6>imagem</h6>
            <h4>Back End</h4>
            <p><small>256 profissionais</small></p>
            <h6>imagem</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row cards">
      <div class="col-sm">
        <div class="card">
          <div class="card-body shadow-sm text-center">
            <h6>imagem</h6>
            <h4>Design e UX</h4>
            <p><small>256 profissionais</small></p>
            <h6>imagem</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Segunda sessão de cards -->

  <div class="d-flex justify-content-between">
    <div class="row cards">
      <div class="col-sm">
        <div class="card">
          <div class="card-body rounded-sm shadow-sm text-center">
            <h6>imagem</h6>
            <h4>Suporte</h4>
            <p><small>256 profissionais</small></p>
            <h6>imagem</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row cards">
      <div class="col-sm">
        <div class="card">
          <div class="card-body shadow-sm text-center">
            <h6>imagem</h6>
            <h4>Infra</h4>
            <p><small>256 profissionais</small></p>
            <h6>imagem</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row cards">
      <div class="col-sm">
        <div class="card">
          <div class="card-body shadow-sm text-center">
            <h6>imagem</h6>
            <h4>Outros</h4>
            <p><small>256 profissionais</small></p>
            <h6>imagem</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
