<app-topo></app-topo>
<div class="container pt-5">
  <div class="row">
    <div class="col-sm d-flex justify-content-between">
      <h4 class="BUSCAR-PROFISSIONAIS"><b> BUSCAR PROFISSIONAIS</b></h4>
      <img src="../../assets/everislogo.png" class="logo" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="input-group">
        <input
          type="search"
          class="form-control shadow-sm"
          placeholder="Não sabe a categoria do profissional? Procure aqui por skills"
        />
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <div class="row cards">
      <div class="col-sm">
        <div class="card">
          <div class="card-body text-center">
            <img src="../../assets/frontend.PNG" class="img-categoria">
            <h4>Front End</h4>
            <p><small>256 profissionais</small></p>
            <img src="../../assets/pessoas.PNG" class="img-pessoas">
          </div>
        </div>
      </div>
    </div>
    <div class="row cards">
      <div class="col-sm">
        <div class="card">
          <div class="card-body text-center">
            <img src="../../assets/backend.PNG" class="img-categoria-meio">
            <h4>Back End</h4>
            <p><small>256 profissionais</small></p>
            <img src="../../assets/pessoas.PNG" class="img-pessoas">
          </div>
        </div>
      </div>
    </div>
    <div class="row cards">
      <div class="col-sm">
        <div class="card">
          <div class="card-body text-center">
            <img src="../../assets/design.PNG" class="img-categoria-ux">
            <h4>Design e UX</h4>
            <p><small>256 profissionais</small></p>
            <img src="../../assets/pessoas.PNG" class="img-pessoas">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Segundo Card -->
  <div class="d-flex justify-content-between">
    <div class="row cards">
      <div class="col-sm">
        <div class="card">
          <div class="card-body text-center">
            <img src="../../assets/suporte.PNG" class="img-categoria">
            <h4>Suporte</h4>
            <p><small>256 profissionais</small></p>
            <img src="../../assets/pessoas.PNG" class="img-pessoas">
          </div>
        </div>
      </div>
    </div>
    <div class="row cards">
      <div class="col-sm">
        <div class="card">
          <div class="card-body text-center">
            <img src="../../assets/infra.PNG" class="img-categoria-meio">
            <h4>Infra</h4>
            <p><small>256 profissionais</small></p>
            <img src="../../assets/pessoas.PNG" class="img-pessoas">
          </div>
        </div>
      </div>
    </div>
    <div class="row cards">
      <div class="col-sm">
        <div class="card">
          <div class="card-body text-center">
            <img src="../../assets/outros.PNG" class="img-categoria-final">
            <h4>Outros</h4>
            <p><small>256 profissionais</small></p>
            <img src="../../assets/pessoas.PNG" class="img-pessoas">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
