<div class="d-flex justify-content-between backgroundColor">
  <div class="flex-fill pt-1 text-left">
    <div class="dropdown" id="alinhamento-menu">
      <a href="#" id="imageDropdown" data-toggle="dropdown">
        <img src="../../assets/perfil-icon-4.png" class="profile-icon ml-5" />
      </a>
      <div
        class="dropdown-menu"
        id="menu-esquerdo"
        aria-labelledby="dropdownMenuLink"
      >
        <a class="dropdown-item" [routerLink]="['/edit-profile']">
          Editar Perfil
        </a>
        <a class="dropdown-item" [routerLink]="['/help']">Ajuda</a>
        <img src="../../../assets/Idioma.PNG" class="idioma" />
        <button type="button" class="btn" id="#btn">LOGOUT</button>
      </div>
    </div>
  </div>
  <div class="flex-fill active text-light text-center p-2">
    <a [routerLink]="['/busca']"> Buscar Skill</a>
  </div>
  <div class="p-2 flex-fill text-light text-center">
    <a href="#"> Acompanhar Processos </a>
  </div>
  <div class="flex-fill pt-1 text-right">
    <div class="dropdown">
      <a href="#" id="imageDropdown" data-toggle="dropdown">
        <img src="../../assets/images.png" class="bell-icon" />
      </a>
      <ul
        class="dropdown-menu"
        id="notificacao"
        role="menu"
        aria-labelledby="imageDropdown"
      >
        <div class="notificacoes ml-5">
          <h2>Notificações</h2>
        </div>
        <div class="ml-5">
          <h6>Você tem 4 notificações não lidas</h6>
        </div>
        <div class="retangulo-notificacoes ml-4">
          <div class="essa-semana ml-3 pt-3">
            <p>ESSA SEMANA</p>
          </div>
          <div class="d-flex justify-content-start">
            <div class="row flex-wrap ml-3">
              <div class="flex-wrap">
                <div class="bola-verde"></div>
                <div class="traco-vertical ml-3"></div>
              </div>
            </div>

            <div>
              <p class="texto-verde-vertical ml-4 mb-0">Há 3 horas</p>
              <p class="texto-titulo-vertical ml-4 mb-0">Front End</p>
              <p class="texto-subtitulo-vertical ml-4 mb-0">
                Novos perfis para aprovar!
              </p>
              <p class="texto-descricao-vertical ml-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod exa tempor incididunt ut labore et dolore magna aliqua
              </p>
            </div>
          </div>

          <div class="retangulo-notificacoes">
            <div class="essa-semana ml-3 pt-3">
              <p>ESSA SEMANA</p>
            </div>
            <div class="d-flex justify-content-start">
              <div class="row flex-wrap ml-3">
                <div class="flex-wrap">
                  <div class="bola-verde"></div>
                  <div class="traco-vertical ml-3"></div>
                </div>
              </div>
              <div>
                <p class="texto-verde-vertical ml-4 mb-0">Há 3 horas</p>
                <p class="texto-titulo-vertical ml-4 mb-0">Front End</p>
                <p class="texto-subtitulo-vertical ml-4 mb-0">
                  Novos perfis para aprovar!
                </p>
                <p class="texto-descricao-vertical ml-4">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod exa tempor incididunt ut labore et dolore magna
                  aliqua
                </p>
              </div>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
<div class="container pt-4">
  <div class="row">
    <div class="col-sm-12 d-flex justify-content-between">
      <h4 class="editar-perfil"><b>EDITAR PERFIL</b></h4>
      <img src="../../assets/everislogo.png" class="logo" />
    </div>
    <div class="col-sm-6">
      <p class="email">Nome Completo:</p>
      <input
        type="email"
        class="form-control"
        placeholder="Caio Henrique Zavitoski"
      />
    </div>
    <div class="col-sm-6">
      <p class="email">Empresa</p>
      <input type="email" class="form-control" placeholder="Everis" />
    </div>
    <div class="col-sm-6">
      <p class="email-disabled">Email:</p>
      <input
        type="email"
        class="form-control-disabled"
        placeholder="caiohenrique@empresa.com"
      />
    </div>
    <div class="col-sm-6">
      <p class="email">Area / Departamento</p>
      <input type="email" class="form-control" placeholder="RH" />
    </div>
    <div class="col-sm-6">
      <p class="email">Telefone</p>
      <input type="email" class="form-control" placeholder="(      )" />
    </div>
    <div class="col-sm-6">
      <p class="email">Cargo</p>
      <input type="email" class="form-control" placeholder="Analista" />
    </div>
    <div class="col-sm-3">
      <p class="email">Edite sua senha:</p>
      <input
        type="password"
        class="form-control w-auto"
        placeholder="*******"
      />
    </div>
    <div class="col-sm-3">
      <p class="email">Confirme nova senha:</p>
      <input
        type="password"
        class="form-control w-auto"
        placeholder="*******"
      />
    </div>
    <div class="col-sm-12 d-flex flex-row-reverse">
      <button type="button" class="btn text-center">SALVAR</button>
    </div>
    <div class="col-sm-12 d-flex flex-row">
      <div class="Retngulo-3433"></div>
      <div class="senha">
        <span>Sua senha deve ter letras, números e mais de 6 caracteres</span>
      </div>
    </div>
  </div>
</div>
