<div class="jumbotron">
  <div class="row">
    <div class="col-sm-12">
      <img src="../../assets/everislogo.png" class="logo float-right ml-5" />
    </div>
    <div class="col-sm-6">
      <img src="../../../../assets/Sucesso.png" class="sucesso float-right" />
    </div>
    <div class="col-sm-6">
      <h2>
        <b>CADASTRO CONCLUIDO <br />COM SUCESSO!</b>
      </h2>
      <br />
      <h5>
        Confira seu email e acesse o link de <br />
        confirmação para efetuar o login.
      </h5>
      <button type="button" class="btn mt-4" [routerLink]="['/forgot-password']">LOGIN</button>
    </div>
  </div>
</div>
