.fundo {
  width: 55%;
}

.logo {
  width: 60%;
  height: auto;
  margin-top: 30px;
}

.card-body {
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  padding: 10px 40px
}

.recuperar-acesso {
  font-weight: bold;
  font-size: 20px;
  color: #525252;
}

.input-group-text {
  background-color: transparent;
  border: transparent;
  color: #9aae04;
  font-size: 12px;
  font-weight: 600;
  margin-top: 5px;
  border-radius: 0;
}

.border-bottom {
    margin-top: 0;
    border-bottom: 1px solid grey;
}

.form-control,
.form-control:focus {
  border: transparent;
  border-radius: 0px;
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
  padding-left: 20px;
  padding-bottom: 0px;
  background: transparent;
  width: 90%;
  margin-bottom: 0;
}

.form-control::placeholder {
  font-weight: bold;
  color: #31353b;
}

.enviar {
    margin-top: 40px;
    width: 40%;
}

.X {
    color: #9aae04;
    font-weight: bold;
    font-size: 18px;
}