<img src="../../assets/fundo.png" class="fundo float-left" />
<form>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <img src="../../assets/everislogo.png" class="logo float-right" />
      </div>
      <div class="card">
        <div class="card-body">
          <span class="float-right X">x</span>
          <div class="row">
            <p class="recuperar-acesso text-left mt-3">
              Quer recuperar seu acesso?
            </p>

            <p class="mt-3">
              Sem problemas! <br />
              Você pode alterar sua senha nos informando seu endereço de email
              empresarial:
            </p>
          </div>
          <div class="input-group mt-5">
            <div class="input-group-prepend">
              <span class="input-group-text">email</span>
            </div>
            <input
              type="text"
              class="form-control"
              placeholder="caio.henrique.zavitoski@everis.com"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="border-bottom"></div>
          <img src="../../../../assets/Enviar.PNG" class="float-right enviar" [routerLink]="['/email-confirm']" />
        </div>
      </div>
    </div>
  </div>
</form>
