<div class="d-flex justify-content-between backgroundColor">
  <div class="flex-fill pt-1 text-left">
    <div class="dropdown" id="alinhamento-menu">
      <a href="#" id="imageDropdown" data-toggle="dropdown">
        <img src="../../assets/perfil-icon-4.png" class="profile-icon ml-5" />
      </a>
      <div
        class="dropdown-menu"
        id="menu-esquerdo"
        aria-labelledby="dropdownMenuLink"
      >
        <a class="dropdown-item" [routerLink]="['/edit-profile']">
          Editar Perfil
        </a>
        <a class="dropdown-item" [routerLink]="['/help']">Ajuda</a>
        <img src="../../../assets/Idioma.PNG" class="idioma" />
        <button type="button" class="btn" id="#btn">LOGOUT</button>
      </div>
    </div>
  </div>
  <div class="flex-fill active text-light text-center p-2">
    <a [routerLink]="['/busca']"> Buscar Skill</a>
  </div>
  <div class="p-2 flex-fill text-light text-center">
    <a> Acompanhar Processos </a>
  </div>
  <div class="flex-fill pt-1 text-right">
    <div class="dropdown">
      <a href="#" id="imageDropdown" data-toggle="dropdown">
        <img src="../../assets/images.png" class="bell-icon" />
      </a>
      <ul
        class="dropdown-menu"
        id="notificacao"
        role="menu"
        aria-labelledby="imageDropdown"
      >
        <div class="notificacoes ml-5">
          <h2>Notificações</h2>
        </div>
        <div class="ml-5">
          <h6>Você tem 4 notificações não lidas</h6>
        </div>
        <div class="retangulo-notificacoes ml-4">
          <div class="essa-semana ml-3 pt-3">
            <p>ESSA SEMANA</p>
          </div>
          <div class="d-flex justify-content-start">
            <div class="row flex-wrap ml-3">
              <div class="flex-wrap">
                <div class="bola-verde"></div>
                <div class="traco-vertical ml-3"></div>
              </div>
            </div>

            <div>
              <p class="texto-verde-vertical ml-4 mb-0">Há 3 horas</p>
              <p class="texto-titulo-vertical ml-4 mb-0">Front End</p>
              <p class="texto-subtitulo-vertical ml-4 mb-0">
                Novos perfis para aprovar!
              </p>
              <p class="texto-descricao-vertical ml-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod exa tempor incididunt ut labore et dolore magna aliqua
              </p>
            </div>
          </div>

          <div class="retangulo-notificacoes">
            <div class="essa-semana ml-3 pt-3">
              <p>ESSA SEMANA</p>
            </div>
            <div class="d-flex justify-content-start">
              <div class="row flex-wrap ml-3">
                <div class="flex-wrap">
                  <div class="bola-verde"></div>
                  <div class="traco-vertical ml-3"></div>
                </div>
              </div>
              <div>
                <p class="texto-verde-vertical ml-4 mb-0">Há 3 horas</p>
                <p class="texto-titulo-vertical ml-4 mb-0">Front End</p>
                <p class="texto-subtitulo-vertical ml-4 mb-0">
                  Novos perfis para aprovar!
                </p>
                <p class="texto-descricao-vertical ml-4">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod exa tempor incididunt ut labore et dolore magna
                  aliqua
                </p>
              </div>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
<div class="container mt-4">
  <a class="voltar" [routerLink]="['/busca']">< Voltar</a>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-2">
          <div class="esquerda">
            <img
              src="../../../../assets/frontend.PNG"
              class="skill text-center"
            />
            <p class="text-center mr-4 mb-auto"><b>Front End</b></p>
            <p class="text-center mr-4">0 profissionais</p>
          </div>
        </div>
        <div class="col-sm-2 mt-2">
          <div class="retangulo-maior">
            <div class="retangulo-menor">
              <p class="d-flex inner-text">HTML</p>
            </div>
          </div>
          <div class="retangulo-maior mt-4">
            <div class="retangulo-menor">
              <p class="d-flex inner-text">CSS</p>
              <div class="circulo-cinza ml-1">
                <div class="simbolo-mais">
                  +
                </div>
              </div>
            </div>
            <p class="outros">Outros</p>
          </div>
        </div>
        <div class="col-sm-2 mt-2">
          <div class="retangulo-maior">
            <div class="retangulo-menor">
              <p class="d-flex inner-text">Bootstrap</p>
            </div>
          </div>
          <div class="retangulo-maior mt-4">
            <div class="retangulo-menor">
              <p class="d-flex inner-text">PHP</p>
            </div>
          </div>
        </div>
        <div class="col-sm-2 mt-2">
          <div class="retangulo-maior">
            <div class="retangulo-menor">
              <p class="d-flex inner-text">Javascript</p>
            </div>
          </div>
          <div class="retangulo-maior mt-4">
            <div class="retangulo-menor">
              <p class="d-flex inner-text">JQuery</p>
            </div>
          </div>
        </div>
        <div class="col-sm-2 mt-2">
          <div class="retangulo-maior">
            <div class="retangulo-menor">
              <p class="d-flex inner-text">Git</p>
            </div>
          </div>
          <div class="retangulo-maior mt-4">
            <div class="retangulo-menor">
              <p class="d-flex inner-text">React</p>
            </div>
          </div>
        </div>
        <div class="col-sm-2 mt-2">
          <div class="retangulo-maior">
            <div class="retangulo-menor">
              <p class="d-flex inner-text">Angular</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 titulo">
      <p class="titulo-text">Selecione abaixo o perfil desejado:</p>
      <p class="adicione">
        Adicione ou remova skills <br />
        nos parâmetros de busca acima
      </p>
      <p class="nao-encontrou">
        Não encontrou o que deseja? <br />
        Entre em contato que buscamos para você
      </p>
    </div>
    <div class="col-sm-6 titulo">
      <p class="titulo-text">Perfis selecionados: 0</p>
      <p class="adicione ml-5">
        Os perfis selecionados <br />
        aparecerão aqui
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <button type="button" class="btn"><b>SOLICITAR NOVOS PERFIS</b></button>
    </div>
    <div class="col-sm-6">
      <button type="button" class="botao-transparente"><b>SOLICITAR</b></button>
    </div>
  </div>
</div>
